# Gradle cache
.gradle

# JetBrains project user-specific files
.idea

# build directory
build

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# output dir
out/

# Mac
.DS_Store
